.p-datatable{
  .p-datatable-header{
    padding: 0.5rem 0.5rem;
  }
  .p-datatable-tbody {
    > tr {
      > td{
        padding: 0.5rem 0.5rem;
      }
    }
    > tr > td:nth-child(1){
      display: flex;
      justify-content: center;
      padding: 15px 0.5rem;
    }
    > tr > td:nth-child(5){
      display: flex;
      justify-content: center;
      cursor: pointer;
      color: #f10163;
      padding: 23.42px 0;
    }
    .p-avatar{
      border-radius: 0.4rem;
    }
  }
} 
.p-datatable-table {
  width: 100%;
  height: 100%;
  table-layout: fixed;
}

.badge-icon {
  position: absolute;
  right: -4px;
  top: -2px;
  font-size: 0.6rem;
  color: #f10163;
  background-color: white;
  border-radius: 50%;
}

.add-btn {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: #fff;
  background-color: #f10163;
  padding: 5px;
  border-radius: 7px;
  cursor: pointer;
  border: 0;
  &:hover {
    opacity: 0.9;
  }
}
a {
  text-decoration: none;
}
thead > :nth-last-child(1){
  display:none;
}