.p-menubar-root-list{
  justify-content: center;
}

nav{
  width: 3.2rem;
  background-color: #122e56;
}

.p-menubar {
  padding: 0;
  border: none;
  border-radius: 0;
  background-color: #122e56;
  align-items: flex-start;
  .p-menuitem {
    color: #ffffff;
    background-color: #1a3d6f;
    border-radius: 7px;
    height:30px;
    width: 30px; 
    margin: 12px 0 0;

    > .p-menuitem-content .p-menuitem-link{
      padding: 0.6rem 0.5rem;
    }

    &:nth-last-child(1) {
      margin-bottom: 8px;
    }
    &:nth-child(2) {
      margin-top: 70px;
    }
    &:nth-child(6) {
      margin-top: 20vh;
    }
    &:nth-child(1) {
      margin-top: 0px;
    }
    .p-menuitem-icon {
      margin: 0;
      color: #ffffff;
      font-size: 12px;
    }
    .p-menuitem-link.active{
      background-color: #ffffff;
      border-radius: inherit;
      .p-menuitem-icon{
        color: #122e56;
      }  
    }
    &:hover .p-menuitem-icon {
      color: #1a3d6f;
    }
    .p-menuitem-content {
      border-radius: inherit;
      color: #122e56;
      transition: background-color 0.2s, border-radius 0.2s;
      &:hover{
        background-color: #ffffff;
      }
    }
    
    
  }
    
}


.p-avatar img{
  border-radius: 7px;
}
.badge{
  background-color: orange;
}
.p-overlay-badge .p-badge {
  top: 2px;
  right: 1px;
}

.navbar-img {
  width: 35px;
  height: 35px;

}

.logo {
  margin-top: 10px;
}

.avatar {
  margin-top: 12px;
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  .p-menubar .p-menubar-root-list {
    display: flex;
    background-color: #122e56;
  }
}





